@media (max-width: 1246px) {
    #event-detal {
        .event-detal {
            .imagess {
                img {
                   
                }
            }
            .foto {
                img {
                    margin-left: -150px;
                }
            }
        }
    }
}


@media (max-width: 1220px) {
    #event-detal {
        .event-detal {
            .imagess {
                img {
                   
                }
            }
            .foto {
                img {
                    margin-left: -150px;
                }
            }
        }
    }
}

@media (max-width: 1190px) {
    #event-detal {
        .event-detal {
            .titles {
                h1 {
                    margin-left: -130px;
                }
            }
            .foto {
                img {
                    margin-left: -160px;
                }
            }
        }
    }
}

